<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 px-4">

  <div class="bg-white rounded-2xl shadow-lg w-full max-w-2xl p-8">

    <!-- Title -->
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      Create Account 🚀
    </h2>

    <!-- Form -->
    <form class="space-y-4" type="submit">

      <!-- Full Name + Email -->
      <div class="grid md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-600">Full Name</label>
          <input type="text" placeholder="Enter your name"
          [(ngModel)]="registerForm.fullName"
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-600">Email</label>
          <input type="email" placeholder="Enter your email"
          [(ngModel)]="registerForm.email"
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
        </div>
      </div>

      <!-- College Name + Role -->
      <div class="grid md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-600">College Name</label>
          <input type="text" placeholder="Enter college name"
          [(ngModel)]="registerForm.collegeName"
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-600">Role</label>
          <select
            [(ngModel)]="registerForm.role"
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
            <option value="">Select role</option>
            <option value="STUDENT">Student</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>
      </div>

      <!-- Password + Submit -->
      <div class="grid md:grid-cols-2 gap-4 items-end">
        <div>
          <label class="block text-sm font-medium text-gray-600">Password</label>
          <input type="password" placeholder="Enter password"
          [(ngModel)]="registerForm.password"
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500">
        </div>

        <button
          class="w-full bg-indigo-600 text-white py-2 rounded-lg font-semibold hover:bg-indigo-700 transition">
          Register
        </button>
      </div>

    </form>

    <!-- Footer -->
    <p class="text-sm text-center text-gray-500 mt-4">
      Already have an account?
      <a routerLink="/login" class="text-indigo-600 font-medium hover:underline">Login</a>
    </p>

  </div>

</div>